body{
    background: #0d141e ;
}

/* nav bar styling */

#fixed{
    list-style: none;
    margin-top: 50%;
    position: relative;
    width: 5vw;
}

.sidebar{
    margin: 0px;
    padding: 0px;

}

#fixed li{
    padding: 5px;
}

#fixed li a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-image:  url(default_nav.png);
    background-repeat: no-repeat;
    display: block;
}

#fixed li a span{
    line-height: 1;
    padding-left: 30px;
    color: 	#F8FDFF;
    margin: 0px;
}

#fixed li.twitter a{
    background-image: url("twitter2.png");
}

#fixed li.linkedin a{
     background-image: url("linkedin.png");
 }

#fixed li.github a{
    background-image: url("github3.png");
}

/* Rohit's Name */

#name{
    margin-top: 8%;
}


.fullname{

    font-size: 7vw;
    color: #F8FDFF;

}

/* image */

.img-fluid{

    height: 80vh;
    width: 30vw;
    margin-top: 15%;
    margin-left: 20%;
    border: 2px solid #F8FDFF;

}


/* MEDIA QUERIES */

@media screen and (min-width: 770px) and (max-width: 1024px) {

    .img-fluid{
        width: 25vw;
        margin-left: 30%;
    }

    .fullname{

        font-size: 8vw;
        color: #F8FDFF;

    }

    #fixed{
        list-style: none;
        margin-top: 50%;
        position: relative;

    }




}